/*area div.preview {*/
/*    visibility: hidden;*/
/*    opacity: 0;*/
/*    transition: opacity 1s;*/
/*}*/

/*area:hover div.preview{*/
/*    visibility: visible;*/
/*    opacity: 100%;*/
/*    transition: opacity 1s;*/

/*}*/

div.preview {
    position: fixed;
    background-color: #fff;
}

div.preview ul{
    border-radius: 5px;
    border: 1px solid #F1F2F3;
    background-color: #F6F7F8;
    padding: 0;
    margin: 0;
}

div.preview ul li{
    list-style-type: none;
    height: 50px;
    text-align: left;
}

div.preview ul li a{
    text-decoration: none;

}

div.preview img {
    height: 100%;
    vertical-align: middle;
}

div.preview ul li:nth-child(2n + 1) {
    background-color: rgb(246, 247, 248);
}

div.preview ul li:nth-child(2n) {
    background-color: white;
}

table {
    font-family: Arial, sans-serif;
    border-collapse: collapse;
}

table td, table th {
    border: 1px solid #ddd;
    height: inherit;
    padding: 8px;
    vertical-align: middle;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}
table tr:hover {
    background-color: #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
}


.searchResult tr:not(.head) {
    height: 80px;
}

.searchResult tr img {
    height: 100%;
    vertical-align: middle;
}

fieldset {
    margin-inside: 0;
    padding-inline: 0;
    border: 0;
}

fieldset table {
    width: 543px;
}

.ui-autocomplete-category {
    border-bottom: 2px solid #4caf50;
}

div.ui-menu-item-wrapper {
    margin-left: 10px;
    font-size: 18px;
}